<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <script>
        const idRegex = /^[0-9]+$/;
        const nameRegex = /^[a-zA-Z]+$/;
        function validateForm() {
            var id = document.forms["save"]["id"].value;
            if (id == ""|| !idRegex.test(id)) {
                document.getElementById("errorId").innerHTML = "id không hợp lệ!";
                return false;
            }else{
                document.getElementById("errorId").innerHTML = "";
            }
            var name = document.forms["save"]["name"].value;
            if (name == "" || !nameRegex.test(name)) {
                document.getElementById("errorName").innerHTML = "name không hợp lệ!";
                return false;
            }
            return true;
        }
        function handleClick(event){
            if(!validateForm()){
                event.preventDefault();
            }
        }
    </script>
    <div class="content">
        <form action="/save" id="save" method="post">
            <input type="text" name="id" placeholder="Nhập id...">
            <br>
            <h4 id="errorId"></h4>
            <input type="text" name="name" placeholder="Nhập name...">
            <h4 id="errorName"></h4>
            <br>
            <input type="text" name="course_type" placeholder="Nhập course_type...">
            <br>
            <input type="text" name="semester" placeholder="Nhập semester...">
            <br>
            <input type="text" name="department" placeholder="Nhập department...">
            <br>
            <button type="submit" onclick="handleClick(event)">Submit</button>
        </form>
        <form action="/delete" method="post">
            <table>
                <caption>Danh sách các môn học</caption>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên môn học</th>
                        <th>Loại môn học</th>
                        <th>Học kỳ</th>
                        <th>Khoa</th>
                        <th>Chọn</th>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach(item => { %>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= item.name %></td>
                            <td><%= item.course_type %></td>
                            <td><%= item.semester %></td>
                            <td><%= item.department %></td>
                            <td><input type="checkbox" name="checkbox" value ="<%= item.id %>"></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <button type="submit">Xoá chọn</button>
        </form>
    </div>
</body>

</html>